.logo {
  text-align: center;
  padding: 2rem 1rem;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
}

.mat-divider {
  border-top-width: 2px;
  border-color: black;
}

.mat-list-item {
  color: black;
  font-size: 1.2rem;
  height: 44px;
  margin-bottom: 4px;
  border-radius: 5px;
  margin: 0 8px;
  padding-top: 10px;
}

.mat-list-item:hover {
  color: #f2f5f7;
  background: #2c3344;
}

.list-item-active {
  color: #f2f5f7;
  background: #2c3344;
}

.logout {
  margin-top: 540px;
}

.mat-nav-list {
  background: linear-gradient(180deg, #827fb7, #776bcc);
}
