<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Course</div>
  <div class="page__content shadow p-3 position-relative">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Account</th>
          <td>Good</td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div class="page__content-data position-absolute text-center"></div>
  </div>
</div>
