<form #addForm="ngForm" (ngSubmit)="onAddCourse(addForm)">
  <div class="form-group">
    <label>Course Code</label>
    <input
      type="text"
      class="form-control"
      id="courseCode"
      ngModel
      name="courseCode"
    />
  </div>

  <div class="form-group">
    <label>Course Name</label>
    <input
      type="text"
      class="form-control"
      id="courseName"
      ngModel
      name="courseName"
    />
  </div>

  <div class="form-group">
    <label>Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      ngModel
      name="description"
    />
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onCLoseClick()">
      Save Course
    </button>
  </div>
</form>
