<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Available Course</div>
  <div class="page__content shadow p-3 position-relative" id="main-container">
    <form #addForm="ngForm">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">Course Code</th>
            <th class="text-center" scope="col">Course Name</th>
            <th class="text-center" scope="col">Description</th>
            <th class="text-center" scope="col">Enroll</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let courses of course">
            <td class="text-center" ngModel id="courseCode" name="courseCode">
              {{ courses.courseCode }}
            </td>
            <td class="text-center" ngModel id="coursename" name="coursename">
              {{ courses.courseName }}
            </td>
            <td class="text-center" ngModel id="description" name="description">
              {{ courses.description }}
            </td>

            <td class="text-center">
              <button
                (click)="onAddEnrollment(courses)"
                class="btn btn-primary"
              >
                Enroll
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
