<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Course</div>
  <div class="page__content shadow p-3 position-relative" id="main-container">
    <button mat-raised-button color="primary" (click)="onOpenDialog()">
      Add
    </button>
    <table class="table table-secondary table-striped">
      <thead>
        <tr>
          <th class="text-center" scope="col">Course Code</th>
          <th class="text-center" scope="col">Course Name</th>
          <th class="text-center" scope="col">Description</th>
          <th class="text-center" scope="col">Edit</th>
          <th class="text-center" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courses of course">
          <td class="text-center">{{ courses.courseCode }}</td>
          <td class="text-center">{{ courses.courseName }}</td>
          <td class="text-center">{{ courses.description }}</td>

          <td class="text-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateCourse(courses.id)"
            >
              Edit
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteCourse(courses.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
